:root {
  --primary-color: #00a76f;
  --text-color: #637381;
  --text-color-selected: #007867;
  --main: #fcfdfd;
  --text-color-bg: #dfe3e8;
  --bg-color-selected: #c8fad6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Orev Edge Regular";
  text-decoration: none;
}

.App{
  display: flex;
  background-color: var(--main);
}

.expand{
  width: 18%;
}

.collapse{
  width: 4%;
}

.display{
  display: flex;
}

.hide{
  display: none;
}

.mainSection{
  width: 100%;
}

.header{
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 20px;
  gap: 20px;
  box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.16),
    0 0 0 1px rgba(145, 158, 171, 0.08),
    0 1px 2px 0 rgba(145, 158, 171, 0.12);
}

.notify{
  font-size: 25px;
  color: var(--text-color);
  cursor: pointer;
}

.profileImg{
  font-size: 30px;
  cursor: pointer;
}

.nav{
  border-right: 2.5px dotted var(--text-color-bg);
  height: 100vh;
  gap: 10px;
  box-shadow: 0 12px 24px -4px rgba(145, 158, 171, 0.16),
    0 0 0 1px rgba(145, 158, 171, 0.08),
    0 1px 2px 0 rgba(145, 158, 171, 0.12);
}

.navItems{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  height: 100%;
}

.items{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
}

.icContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.icon{
  font-size: 40px;
  color: var(--primary-color);
  cursor: pointer;
}

.ic{
  width: 40px;
  font-size: 25px;
  border-radius: 5px;
  color: var(--text-color);
  cursor: pointer;
}

.icTxt{
  font-size: 40px;
  color: var(--primary-color);
  font-weight: 500;
  margin-left: 5px;
}

.itemSelect{
  background-color: var(--bg-color-selected);
  color: var(--text-color-selected);
}

.display,.hide,.expand,.collapse,.nav,.navItems,.items,.icContainer,.icon,.navList,.ic,.itemSelect,.addBtn:hover{
  transition: all 1s ease;
}

.home,.students,.student,.find,.update{
  width: 100%;
  height: 92vh;
  padding: 20px;
}

.blockItems{
  display: flex;
  gap: 0.5%;
  height: 25%;
}

.bItem{
  border: 1px solid var(--text-color-bg);
  width: 20%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px 30px;
  box-shadow:  0 12px 24px -4px rgba(145, 158, 171, 0.16),
}

.bItem1,.bItem3{
  box-shadow: inset -30px -20px 65px 0px var(--bg-color-selected);
}

.bItem2,.bItem4{
  box-shadow: inset -30px -30px 45px 0px #fff5cc;
}

.itemTitle{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  color: black;
}

.bIcon{
  font-weight: 100;
  font-size: 24px;
  color: var(--primary-color);
}

.studentsHeader{
  margin: 30px;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.addBtn{
  background-color: black;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  font-size: 22px;
}

.addBtn:hover{
  background-color: rgb(55.25,60.35,66.3);
  border: 1px solid rgb(44,49,55);
}

.studentsFilter{
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

.searchStu{
  border-radius: 5px;
  height: 60%;
  outline: none;
  width: 25%;
  font-size: 26px;
  padding: 0 10px;
}

.filterStu{
  height: 50%;
  width: 10%;
  color: #000;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 5px;
}

.details{
  padding: 10px;
  height: auto;
  width: 100%;
}

.detailsHead{
  background-color: var(--text-color);
  height: 36px;
  font-size: 20px;
}
.detailsTab{
  width: 100%;
}

.detailsTab {
  width: 100%;
}

.detailsBody td {
  border-bottom: 2px dotted var(--text-color-bg);
  padding: 8px;
  height: 50px;
}

.stuName{
  display: flex;
  align-items: center;
}

.stuImg{
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.addContainer{
  display: flex;
  align-items: center;
  justify-content: start;
  height: 80%;
}

.addCard{
  height: 90%;
  width: 50%;
}

.addStudent{
  height: 100%;
}

.addStudent table{
  height: 100%;
  width: 80%;
  font-size: 26px;
}

.addStudent table tr td input[type="file"]::file-selector-button{
  background-color: var(--primary-color);
  color: var(--text-color-bg);
  border-radius: 5px;
  cursor: pointer;
}

.ipTxt{
  height: 60%;
  width: 80%;
  border-radius: 5px;
  outline: none;
  font-size: 22px;
  padding: 0 5px;
  border: 1px solid var(--text-color);
}

.ipTxt:active,
.ipTxt:hover,
.ipTxt:hover,
.ipTxt:focus,
.ipTxt:focus{
  border: 1px solid var(--primary-color);
}

.addStudent table tr:nth-child(7) td{
  text-align: center;
}

.addStudent table tr:nth-child(7) td button{
  width: 50%;
  height: 70%;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.addStudent table tr:nth-child(7) td button:hover,
.ipBtn:hover{
  box-shadow:  1px 1px 2px 0px #000;
  transition: 0.5s ease-in-out all;
}

.findIp{
  width: 60%;
  padding: 0 30px;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.findIp .ipTxt{
  width: 50%;
}

.ipBtn{
  margin: 0 10px;
  width: 20%;
  height: 25px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.found{
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}

.imgName{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgName img{
  border: 1px solid black;
  height: 150px;
  width: 150px;
}

.branchEmail,.stateCountry{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.ipField,.sBtn{
  height: 40px;
}